/* Section 1 */
/* ------------------------------------ Page Jumbotron ------------------------------------------------- */
.page-jumbotron {
  position: relative;
  background-image: linear-gradient(
    to right,
    hsl(359, 79%, 55%),
    rgb(111, 26, 28)
  );
  min-height: 75vh;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 50px;
}
.page-jumbotron .container {
  position: relative;
  z-index: 20;
}
.page-jumbotron svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.page-jumbotron .jumbotron-text h1 {
  /*font-size: 45px;*/
  color: #fff;
  margin: 0 0 20px;
  font-family: "FredokaOneFont";
  text-transform: uppercase;
}
.page-jumbotron .jumbotron-text h3 {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  margin: 0 0 20px;
}
.page-jumbotron .jumbotron-text h3 {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
.page-jumbotron .jumbotron-text p,
.page-jumbotron .jumbotron-text span {
  font-size: 15px;
  line-height: 28px;
  color: #fff;
  font-weight: 300;
  font-family: "RobotoFont", sans-serif;
}
.page-jumbotron .jumbotron-btn {
  margin-top: 40px;
}
.page-jumbotron .jumbotron-btn .download-btn {
  padding: 0;
  animation: pulse_01 2s ease infinite;
  font-size: 15px;
  padding: 10px 20px;
}
.page-jumbotron .jumbotron-btn .download-btn:hover {
  animation: none;
  box-shadow: var(--shadow-black-300);
}

/* Privacy Section */
.privacy ul {
  list-style: disc;
}
.privacy .service-features {
  font-size: 15px;
  color: #555;
}
.privacy .service-features .service-feature-item{
  padding-bottom: 60px;
}
.privacy .service-features .service-feature-item h3 {
  font-family: "PoppinsFont", sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  margin: 20px 0;
  color: #000;
}
.privacy .service-features .service-feature-item h5 {
  font-family: "PoppinsFont", sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  margin: 20px 0;
  color: #000;
}