/* Section 1 */
/* ------------------------------------ Page Jumbotron ------------------------------------------------- */
.page-jumbotron {
  position: relative;
  background-image: linear-gradient(
    to right,
    hsl(359, 79%, 55%),
    rgb(111, 26, 28)
  );
  min-height: 75vh;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 50px;
}
.page-jumbotron .container {
  position: relative;
  z-index: 20;
}
.page-jumbotron svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.page-jumbotron .jumbotron-text h1 {
  /*font-size: 45px;*/
  color: #fff;
  margin: 0 0 20px;
  font-family: "FredokaOneFont";
  text-transform: uppercase;
}
.page-jumbotron .jumbotron-text h3 {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  margin: 0 0 20px;
}
.page-jumbotron .jumbotron-text h3 {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
.page-jumbotron .jumbotron-text p,
.page-jumbotron .jumbotron-text span {

  font-size: 5px;

  font-size: 15px;

  line-height: 28px;
  color: #fff;
  font-weight: 300;
  font-family: "RobotoFont", sans-serif;
}
.page-jumbotron .jumbotron-btn {
  margin-top: 40px;
}
.page-jumbotron .jumbotron-btn .download-btn {
  padding: 0;
  animation: pulse_01 2s ease infinite;
  font-size: 15px;
  padding: 10px 20px;
}
.page-jumbotron .jumbotron-btn .download-btn:hover {
  animation: none;
  box-shadow: var(--shadow-black-300);
}

/* Driver Benefit Section */
.driver-benefit .section-title h3{
  font-family: 'PoppinsFont', sans-serif;
  margin: 20px 0;
  font-size: 22px;
  font-weight: 500;
  color: var(--black-900);
  text-transform: capitalize;
}
.driver-benefit-item {
  padding: 30px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.driver-benefit-item.line-right::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  left: 50%;
  top: 60px;
  background-color: var(--main-color);
  z-index: -1;
}
.driver-benefit-item .step {
  display: inline-block;
  height: 60px;
  width: 60px;
  background-color: var(--main-color);
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  font-weight: 500;
}
.driver-benefit-item h3 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: 500;
  color: var(--black-900);
  text-transform: capitalize;
}
.driver-benefit-item p {
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  color: var(--black-400);
  line-height: 26px;
  font-family: 'RobotoFont', sans-serif;
}

/* Driver Attribut Section */
.driver-attribut h3{
  margin-bottom: 20px;
  text-transform: capitalize;
  font-weight: bold;
}
.driver-attribut-item {
  padding: 30px 0;
}
.driver-attribut-item .driver-attribut-img{
  text-align: center;
}

.info-icon {
    font-size: 50px;
    color:rgba(231, 52, 54, 1);
}

ol {
    list-style-type: disc;
}

@media(max-width: 991px){
  .driver-benefit-item.line-right::before {
    content: none;
  }
  .driver-benefit-item {
    box-shadow: var(--shadow-black-100);
    border-radius: 10px;
    margin-bottom: 30px;
  }

  .driver-attribut-item .driver-attribut-text{
    margin: 30px 40px;
  }
}

@media (max-width: 991px) {
  .navbar-toggler {
    background-color: transparent;
    height: 34px;
    width: 44px;
    margin: 0;
    font-size: 16px;
    color: var(--black-000);
  }
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
  }
  .navbar .navbar-nav {
    height: 100vh;
    margin: 20px 0;
    overflow-y: auto;
    padding-bottom: 100px;
  }
  .navbar .nav-item {
    margin: 0;
    padding: 10px 15px;
  }
  .navbar .nav-item .nav-link {
    font-size: 20px;
    margin: 0;
  }
  .navbar .nav-item .nav-link.active::before,
  .navbar .nav-item .nav-link:hover::before {
    transform: scale(1);
  }
  .navbar.gradient {
    background-image: linear-gradient(
      to right,
      hsl(359, 79%, 55%),
      rgb(111, 26, 28)
    );
  }
  .logo-box{
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .default-logo-box{
    margin-top: 60px;
    margin-bottom: 100px;
  }

  .dropdown-menu {
    background: rgb(111, 26, 28);
    box-shadow: none;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
  }
  .dropdown-menu .dropdown-item {
    color: #fff;
    margin: 15px 10px;
    font-size: 15px;
  }
  .dropdown-menu hr {
    display: none;
  }

  .jumbotron-img{
    max-width: 260px;
    margin: 0 auto;
  }

  .hide-logo {
    display: none;
  }
  .pembuka-desc{
    text-align: center;
  }

  .logofitur .circle{
    height: 200px;
    width: 200px;
  }
  .logofitur .circle:before {
    height: 36px;
    width: 36px;
    left: 10px;
    top: 10px;
    transform-origin: 89px 89px;
  }
  .jumbotron-img i {
    font-size: 80px;
  }
  .jumbotron-text{
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .jumbotron-text h1 {
    font-size: 35px;
    line-height: 140%;
  }
  .judul-project{
    margin-top: 80px;
  }

  .one-touch .section-title {
    margin-top: 50px;
    text-align: center;
  }
  .one-touch .one-touch-text {
    text-align: justify;
  }

  .app-download .app-download-item h3 {
    font-size: 18px;
  }

  .how-it-works-item.how-it-works-item.line-right::before {
    content: none;
  }
  .how-it-works-item {
    box-shadow: var(--shadow-black-100);
    border-radius: 10px;
    margin-bottom: 30px;
  }

  .contact .contact-info {
    padding-bottom: 30px;
  }
  .contact-info-item h3 {
    font-size: 20px;
  }
  .contact-info-item h4 {
    font-size: 18px;
  }
  .contact-info-item p {
    font-size: 15px;
  }
  .projek-item p{
    text-align: center;
  }
  .btn-kirim-pesan{
    text-align: center;
  }
}
/*----------------------------------------- MEDIUM --------------------------------------*/
@media (max-width: 767px) {
  .section-title h2 {
    font-size: 30px;
  }
  .jumbotron-text {
    margin-top: 30px;
  }
  .judul-project{
    margin-top: 80px;
  }
  .logo-box{
    margin-top: 30px;
    margin-bottom: 60px;
  }
}
/*----------------------------------------- SMALL --------------------------------------*/
@media (max-width: 575px) {
  .jumbotron-text h1 {
    font-size: 25px;
  }
  .jumbotron-text p {
    font-size: 15px;
  }
  .jumbotron-img{
    max-width: 200px;
    margin: 0 auto;
  }
  .logofitur .circle{
    height: 150px;
    width: 150px;
  }
  .logofitur .circle:before {
    height: 28px;
    width: 28px;
    left: 7px;
    top: 7px;
    transform-origin: 67px 67px;
  }
  .logo-box{
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .default-logo-box{
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

